@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: linear-gradient(to right, black, blue);
	font-size: 32px;
	font-family: "Poppins", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	margin-left: 20px;
	position: relative;
	width: 450px;
}

.search-bar {
	height: 50px;
	width: 90%;
	border-radius: 20px;
	box-shadow: 0 0 11px rgba(0, 0, 0, 0.9);
	padding: 20px;
	outline: none;
	font-size: 20px;
	font-weight: bold;
	font-family: inherit;
}

.icons {
	font-size: 23px;
	position: relative;
	display: inline;
	color: grey;
	cursor: pointer;
}

.fa-search {
	position: absolute;
	top: 6px;
	right: 12px;
	margin-right: 3px;
}

.fa-search:hover {
	color: black;
}


.fa-times-circle {
	position: absolute;
	top: 6px;
	right: 45px;
}


